.app-download {
    margin: auto auto;
    margin-top: 100px;
    font-size: medium;
    text-align: center;
    font-weight: 500;
}


.app-download-platforms {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 488px) {
    .app-download h2{
        font-size: medium;
    }
    .app-download-platforms img{
        width: 120px;
        height: 40px;
    }
}