.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;

}

.explore-menu h2 {
    font-size: 30px;
    font-weight: 600;
}

.explore-menu p{

    font-size: 14px;
    max-width: 60%;
}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll !important;
    padding-left: 30px;
    
}

.explore-menu-list p{
    font-size: 18px;
    margin-top: 10px;
    position: relative;
    left: 26px;
}

.explore-menu-list img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.explore-menu-list img:hover{
    transform: scale(0.9);
}

.explore-menu-list::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
}
.explore-menu-list::-webkit-scrollbar:hover {
    background-color: rgba(178, 176, 176, 0.4);
    border-radius: 10px;
}


.explore-menu hr{
    border: 0.5px solid #ddd;
    height: 2px;
    margin: 20px 0;
    border: none;
    background-color: #ece9e9;
}

@media screen and (max-width: 620px) {
    .explore-menu-list {
        gap: 15px;
    }
    .explore-menu-list img{
        width: 120px;
        height: 120px;
    }
    .explore-menu-list p{
        font-size: 16px;
        left: 20px;
    }
    
}

@media screen and (max-width: 420px) {
    .explore-menu-list {
        gap: 10px;
    }
    .explore-menu-list img{
        width: 100px;
        height: 100px;
    }
    .explore-menu-list p{
        font-size: 14px;
        left: 16px;
    }
    .explore-menu{
        padding: 17px;
    }
    
}


@media screen and (max-width: 1300px) {
    
    .explore-menu{
        padding: 17px;
    }
    
}
