.footer{
background-color: #323232;
    color: #ffffff;
    padding: 20px 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 8vw;
    gap: 20px;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {
    .footer-content{
        grid-template-columns: 1fr;
        text-align: center;
        font-size: small;
    }
    .footer-content-left,
    .footer-content-center,
    .footer-content-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-content-left li,
    .footer-content-center li,
    .footer-content-right li{
        align-items: flex-start;
    }
    .footer-content-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;

    }

    .footer-content-left p{
        font-size: 14px !important;
        text-align: left !important;

        
    }
    .footer-social-icon img{
        width: 40px;
        height: 40px;

    }
}


@media screen and (max-width: 580px) {
    .footer-content{
        display: block !important;
        flex-direction: column !important;
    }
    .footer-content-left li,
    .footer-content-center li,
    .footer-content-right li{
        align-items: flex-start !important;
        text-align: left !important;
        margin-top: 3px !important;

    }

    .footer-content-center h2,
    .footer-content-right h2{
        margin-bottom: 6px !important;

    }
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

.footer-content-left ,
.footer-content-center,
.footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
}


.footer-content-center li,
.footer-content-right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-center h2,
.footer-content-right h2{
    color: white;
    margin-bottom: 10px;
}

.footer-content-left img{

    margin-top: 10px;
}
.footer-content-left p{
    font-size: 18px;
    line-height: 1.5;
    color: #fbf8f8;
    margin-top: 6px;
    
}
.footer-social-icon{
    display: flex;
    align-items: center;
    gap: 17px;
}
.footer-social-icon img{
    
    cursor: pointer;
}

.footer hr{
    width: 100%;
    border: 0.5px solid #f9f5f5;
    opacity: 0.2;
    margin-top: 20px;
}

.footer-copyright{
    font-size: 14px;
    color: #fbf8f8;
    text-align: center;
    margin-top: 10px;
}