*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  margin: 20px;
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  
  margin: auto;
}